		
<div class="container">
  <h1 class="text-center">Stock information</h1>
  <div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <table class="table table-hover" summary="Methanex Stock Quotes">
      <tr>
        <td class="text-center" colspan="3"><b>Current Quote</b></td>
      </tr>
      <tr>
        <td>Last Trade</td>
        <td align="right" id="lasttrade">&nbsp;</td>
      </tr>
      <tr>
        <td >Change</td>
        <td align="right" id="change">&nbsp;</td>
      </tr>
      <tr>
        <td>Volume</td>
        <td align="right" id="volume">&nbsp;</td>
      </tr>
      <tr>
        <td>Open</td>
        <td align="right" id="open">&nbsp;</td>
      </tr>
      <tr>
        <td>Previous Close</td>
        <td align="right" id="previousclose">&nbsp;</td>
      </tr>
      <tr>
        <td>Day's Range</td>
        <td align="right" id="dayrange">&nbsp;</td>
      </tr>
      <tr>
        <td>Time of Last Trade</td>
        <td align="right" id="timeoflasttrade">&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
      <table class="table table-hover">
        <tr>
          <th class="text-center" colspan="2"><b>Fundamental Data</b></th>
        </tr>
        <tr>
          <td>Exchange</td>
          <td align="right" id="exchange">&nbsp;</td>
        </tr>
        <tr>
          <td >52-week range</td>
          <td align="right" id="52weekrange">&nbsp;</td>
        <tr>
          <td>Semi-Annual Div/sh</td>
          <td align="right" id="divshare">&nbsp;</td>
        </tr>
        <tr>
          <td>Ex-Dividend Date</td>
          <td align="right" id="divdate">&nbsp;</td>
        </tr>
        <tr>
          <td>50 day moving average</td>
          <td align="right" id="movingaverage">&nbsp;</td>
        </tr>
        <tr>
          <td>Market Cap</td>
          <td align="right" id="cap">&nbsp;</td>
        </tr>
      </table>
      </div>
    </div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="ui-widget" id="menu" style="float:left">
      <label>Select Stock: </label><button id="USA">USA</button><button id="Canada">Canada</button> 
        <br /><br />
        <button id="Month">1 Month</button><button id="Quarter">1 Quarter</button><button id="Year">1 Year</button><button id="5Year">5 Years</button> 
        <br />
            <label>Compare vs.  <input type="text" id="compareText" name="compare" size="10" value=""></label>

        <label><input id="SP" type="checkbox" name="compare" value="SP">S & P 500 </label><label><input id="SPChemical" type="checkbox" name="compare" value="SPChemical">S & P Chemical index </label><label><input id="Nasdaq" type="checkbox" name="compare" value="SP">Nasdaq </label><button id="Compare"> Compare</button>
        
        <p id="errorField" style="color:#FA0515;visibility:hidden">Your stock was not found.</p>
    </div>
  </div>
</div>



  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="demo-container" style="float:left">
          <div id="stockGraph" style="width:650px;height:300px;margin-top:40px;margin-left:10px;float:left"><img class="loader" src="images/ajax-loader.gif" /></div>
          <p id="legend" style="float:left;margin-top:40px"></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-2" style="margin-top: 50px">
      <div>
        <a href="#" id="downloadUSA">Click here to download USA data</a>
        <br/>
        <a href="#" id="downloadCanada">Click here to download Canada data</a>
      </div>
    </div>
  </div>

</div>